body{
    background-color: black;
}
#a{
    width:1000px;
    height:100px;
    font-size:90px;
    background-color: #cddfd3;
}
#b{
    width:200px;
    height: 80px;
    font-size:50px;
    background-color: #4b525c ;
    color: white ;
}
#d{
    width: 200px;
    height: 80px;
    font-size:50px;
    background-color: #70a531;
    color: white;
}